body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: url("../img/fondoContenedor.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-position-y:100px;
    background-color:black;
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}








/* Estilos para el sitio */


#buscador{
    margin-top:40px;
    margin-right:40px;
}


#cabecera{
    background-color: #191919;
   /* background-image: url("../img/fondoBanner.jpg")*/

}

.navbar-inverse{
    background-color: #222222;
}

.navbar-inverse .navbar-nav > li > a{
    color: white;
}

#logo{
    height:60px;
    margin-top:20px;
    margin-bottom: 20px;
}

.barraSuperior{
    border:0px solid ;
    border-radius:0px;
    /*box-shadow: 0px 10px 20px gray;*/
}

/*Slider*/

#myCarousel{
    margin-top:-10px;
}

.adaptar{
	width: 100%;
    max-height: 400px;
}


#banner1{
    
    background-color:black;
    height:20px

}

/*Contenedor General*/



#contenedorGeneral{
    background-color:white;
    min-height:550px;
    margin-top: -40px;
    padding-top:30px;
    
}

#contenedorGeneral a{
   
    color:black;
}



/*Contenedor-Galeria de Imagenes*/


#ImagenesCartelera .row{
    padding-bottom:30px;
}
.genero, .clasificacion{
    margin-top:-9px;
    color:#7d7d7d;
}

.titulos{
    margin-top:30px;
    padding-bottom:15px;

}



/*Contenedor derecho - barra de menus*/

#barraDerecha a{
    text-decoration:none;
}
.table tfoot > tr > td
{
    background-color:red;
}

.table tbody > tr > td:hover{
    background-color: #dddddd;
    transition : all 0.2s ease;
    
}

#promociones{
    margin-top:25px;
}

.imgPromo{
   margin-bottom:10px;
}
/*Pie de pagina*/

#pieBanner{
    background-color:#282828;
    height:10px;
    margin-top:50px;
}

#pie{
    
    padding-top:10px;
    padding-bottom:50px;
    background-color:#191919;
    color:white;
}


#pie a{
    color: white;
}

/*Hover en la imagen*/
